@import url(./menu-link.css);
@import url(./menu-list.css);
@import url(./menu-item.css);
@import url(./logo.css);

.header{
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

@media screen and (max-width: 768px) {
    .header{
        justify-content: center;
        padding: 0 1rem;
    }
    
}